<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57919639350-ub3kliuujpa8946nh8nu996pvc7htqi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57919639350-ub3kliuujpa8946nh8nu996pvc7htqi7</string>
	<key>API_KEY</key>
	<string>AIzaSyCAmScW5klIlHrYhUI4RW5YY3I4AA2D6UA</string>
	<key>GCM_SENDER_ID</key>
	<string>57919639350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nejma</string>
	<key>PROJECT_ID</key>
	<string>newnejma</string>
	<key>STORAGE_BUCKET</key>
	<string>newnejma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:57919639350:ios:240636cdac66047803ad97</string>
	<key>DATABASE_URL</key>
	<string>https://newnejma.firebaseio.com</string>
</dict>
</plist>
